
.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding-block: 32px;
}

.innerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}