.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding-block: 32px;
}

.innerContainer {
  margin-top: calc(var(--header-height) + 32px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
